body
{
  background: #FFFFFF;
  color: #666666;
}
h1
{
  background: #00B386;
    color: #FFFFFF;
}
nav
{
  background: #70DBDB;
}
h2
{
  color: #00664D;
}
dt
{
  color: #00664D;
}
